body {
    font-family: 'Nunito', sans-serif;
    margin-top: 80px;
}
.navbar-brand img {
    margin-right: 10px;
}
.bordered-image {
    border-radius: 20px;
    border: 4px solid #061b2c;
}
.hero-section {
    background-color: #f8f9fa;
    border-bottom: 4px solid #061b2c;
    padding: 40px 0;
    text-align: center;
}
.menuedit {
    background-color: #061b2c!important;
    color: white!important;
}
.hero-section h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.hero-section p {
    font-size: 1.2rem;
    color: #666;
}
.featurette-divider {
    margin: 5rem 0;
}
.containeredit {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
.salle {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.buttonedit{
    background-color: #061b2c !important;
    color: white !important;
}